body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:99px;
  width:990px;
  height:1501px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:1501px;
}
#u1 {
  position:absolute;
  left:2px;
  top:742px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:116px;
  width:340px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:287px;
  top:176px;
  width:453px;
  height:634px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:634px;
}
#u5 {
  position:absolute;
  left:2px;
  top:309px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:287px;
  top:810px;
  width:453px;
  height:692px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:692px;
}
#u7 {
  position:absolute;
  left:2px;
  top:338px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:287px;
  top:1502px;
  width:453px;
  height:58px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:58px;
}
#u9 {
  position:absolute;
  left:2px;
  top:21px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:505px;
  top:1517px;
  width:92px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1060px;
  top:609px;
  width:620px;
  height:391px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:391px;
}
#u13 {
  position:absolute;
  left:2px;
  top:188px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1168px;
  top:773px;
  width:57px;
  height:58px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u15 {
  position:absolute;
  left:2px;
  top:21px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1235px;
  top:773px;
  width:67px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1235px;
  top:806px;
  width:98px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1461px;
  top:791px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1388px;
  top:770px;
  width:57px;
  height:58px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u23 {
  position:absolute;
  left:2px;
  top:21px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1192px;
  top:841px;
  width:84px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1420px;
  top:841px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1270px;
  top:916px;
  width:170px;
  height:44px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:44px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:166px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:260px;
  top:1620px;
  width:960px;
  height:74px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:74px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1002px;
  top:6506px;
  width:300px;
  height:144px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:29px;
  width:990px;
  height:70px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:70px;
}
#u35 {
  position:absolute;
  left:2px;
  top:27px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:54px;
  top:41px;
  width:177px;
  height:46px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:46px;
}
#u37 {
  position:absolute;
  left:2px;
  top:15px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:527px;
  top:55px;
  width:27px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:599px;
  top:55px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:776px;
  top:55px;
  width:53px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:867px;
  top:55px;
  width:53px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:688px;
  top:55px;
  width:53px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:949px;
  top:55px;
  width:53px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
